<a href="https://colab.research.google.com/github/dkraynev/Pandas/blob/main/171_python_15_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# #01

In [ ]:
import pandas as pd

def createDataframe(student_data):
    df =  pd.DataFrame(student_data, columns=['student_id', 'age'])
    return df

# #02

In [ ]:
import pandas as pd

def getDataframeSize(players):
    r, c = players.shape
    return [r,c]

In [ ]:
import pandas as pd

def getDataframeSize(players):
    return list(players.shape)

# #03

In [ ]:
import pandas as pd

def selectFirstRows(employees):
    return employees.head(3)

In [ ]:
import pandas as pd

def selectFirstRows(employees):
    return employees[0:3]

In [ ]:
import pandas as pd

def selectFirstRows(employees):
    return employees.loc[0:2]

In [ ]:
import pandas as pd

def selectFirstRows(employees):
    return employees.iloc[0:3]

# #04

In [ ]:
import pandas as pd

def selectData(students: pd.DataFrame) -> pd.DataFrame:
    return students[students['student_id'] == 101][['name', 'age']]

In [ ]:
import pandas as pd

def selectData(students):
    return students[students['student_id'] == 101][[
        'name', 'age'
    ]]